{% load i18n %}
<table>
	{% for member in members %}
	<tr><th>{{ member.user }}</th>
		{% for role in roles %}
		<td><input type="radio"
			name="{{member.user}}"
			value="{{role}}"
			id="{{member.user}}-{{role}}"
			{% ifequal member.role role %}checked{% endifequal %}/>
			<label	for="{{member.user}}-{{role}}" class='role'> 
				{{role}}
			</label>
		</td>
		{% endfor %}
		<td><input type="radio"
			name="{{member.user}}"
			value="deleted"
			id="{{member.user}}-deleted"
			/>
			<label	for="{{member.user}}-deleted" class='role'>
				{% trans "Deleted" %}
			</label>

			
	</tr>
	{% endfor %}

	<input type="checkbox" id="inherit-permissions"/>
	<label id="inherit-perimissions-label" for="inherit-permissions">{% trans "Inherit Permissions" %}</label>

</table>
