{% load i18n %}
<span class="error"/>
<table>
	{% for member in members %}
	<tr><th>{{ member.user }}</th>
		{% for roleid,role in roles %}
		<td><input type="radio"
			name="{{member.user}}"
			value="{{roleid}}"
			id="{{member.user}}-{{roleid}}"
			{% ifequal member.role roleid %}checked{% endifequal %}/>
			<label	for="{{member.user}}-{{roleid}}" class='role'> 
				{{role}}
			</label>
		</td>
		{% endfor %}
		<td><input type="radio"
			name="{{member.user}}"
			value="-1"
			id="{{member.user}}-deleted"
			/>
			<label	for="{{member.user}}-deleted" class='role'>
				{% trans "Deleted" %}
			</label>

			
	</tr>
	{% endfor %}

</table>
	<input type="checkbox" id="inherit-permissions"/>
	<label id="inherit-permissions-label" for="inherit-permissions">{% trans "Inherit Permissions" %}</label>

