/* GENERAL */

html, body {
    height: 100%;
}
body {
    background-color: {{ background_color }};
    margin: 0;
    color: {{ text_color }};
    font-family: {{ font_family }};
    font-size: {{ font_size }};
}
a:visited {
    color: {{ link_color }};
}
a:visited {
	color: {{ visited_link_color }};
}
a:hover {
	color: {{ hover_link_color }}
}
img {
    border: 0;
}
dt {
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    font-size: inherit;
}
td {
    margin: 0;
    border: 0;
    padding: 0;
}
h1 {
    margin: 0;
}



#body {
    clear: both;
    margin: 0 auto;
    padding: 10px;
    width: 800px;
}
#footer {
    color: {{ footer_text_color }}; /* footer text colour */
    margin: 50px auto;
    padding: 10px;
    clear: both;
    width: 800px;
}
#footer a{
	color: {{ link_color }};
}

#footer a:visited {
    color: {{ visited_link_color }};
}
#footer a:hover {
    color: {{ hover_link_color }};
}


/* CLEARS */

.clearboth {
    clear: both;
}

/* reference:
 *   http://www.positioniseverything.net/easyclearing.html
 *   http://www.zeldman.com/2006/10/27/ie7fixes1/
 *      comment by michael on 10/28/2006
 */
.clearfix {
    min-height: 1%;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* hides from ie5-mac \*/
* html .clearfix { height: 1%; }
/* end hide from ie5-mac */


/* HEADER */

#tabhead {
    background: {{ head_background_color }};
    border-bottom: {{ head_border }}; /* tab border */
    position: relative;
}
#tabhead .logo {
    height: 80px;
    padding-left: 5px;
    padding-top: 0;
}
#tabhead .logo img {
    width: 190px;
    height: 79px;
}
#tabhead .login {
    position: absolute;
    top: 6px;
    right: 15px;
    color: #DEF; /* login bar text colour */
}
#tabhead .login a, #tabhead .login a:visited {
    color: #DEF; /* login bar link colour */
}
#tabhead .login a:hover {
    color: #FFF; /* login bar link hover colour */
}

#locale_switcher {
    display: inline;
}

/* FORMS */

form th {
    text-align : left;
}
form.signup input[type="submit"], form.login input[type="submit"] {
    margin: 20px 0;
    font-size: 14pt;
}
input[type="text"], input[type="password"], textarea {
    padding: 3px;
    margin: 3px;
    border: solid 1px #C6C6C6;
    border-bottom: solid 1px #E3E3E3;
    color: #666;
    font-size: 12pt;
    background: #F3F3F3 url('../images/form-shadow.png') left top repeat-x;
}
ul.errorlist {
    margin: 0;
    padding: 0;
    list-style: none;
    color: red;
}


/* FORM TOGGLE */

.form-toggle p {
    margin-bottom: 2px;
}

.form-toggle p span {
    background: #DEF;
    padding: 3px 6px;
    border-top: 1px solid #9BC;
    border-left: 1px solid #9BC;
    border-right: 1px solid #9BC;
    cursor: pointer;
}

.form-toggle form {
    padding: 3px 6px;
    margin: 0;
    background: #DEF;
    border: 1px solid #9BC;
}



/* EXTRAS TO CLEAN UP */

.warning {
    color: red;
    font-weight: bold;
}

div.profile_info p {
    margin: 0;
}
div.left_panel {
    width: 550px;
}
div.right_panel {
    margin-top: 20px;
    width: 200px;
    float: right;
    z-index: 999;
}


/*
 * https://github.com/ehynds/jquery-notify/blob/master/ui.notify.css
 * Notify style
 */
.ui-notify { width:350px; position:fixed; top:10px; right:10px; }
.ui-notify-message { padding:10px; margin-bottom:15px; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px }
.ui-notify-message h1 { font-size:14px; margin:0; padding:0 }
.ui-notify-message p { margin:3px 0; padding:0; line-height:18px }
.ui-notify-message:last-child { margin-bottom:0 }
.ui-notify-message-style { background:#000; background:rgba(0,0,0,0.8); -moz-box-shadow: 0 0 6px #000; -webkit-box-shadow: 0 0 6px #000; box-shadow: 0 0 6px #000; }
.ui-notify-message-style h1 { color:#fff; font-weight:bold }
.ui-notify-message-style p { color:#fff }
.ui-notify-close { color:#fff; text-decoration:underline }
.ui-notify-click { cursor:pointer }
.ui-notify-cross { margin-top:-4px; float:right; cursor:pointer; text-decoration:none; font-size:12px; font-weight:bold; text-shadow:0 1px 1px #fff; padding:2px }
.ui-notify-cross:hover { color:#ffffab }
.ui-notify-cross:active { position:relative; top:1px }

{{ extra }}
