{% extends "djity/base.html" %}

{#{% load parser %}#}

{% block module_head %}
	<script type="text/javascript" src="{{ STATIC_URL }}djity/simplepage/js/simplepage.js"></script>

{% endblock %}

{% block module_onload %}
$('#simple_page_content').editable(
	{
		save_function:'djity.simplepage.save_simple_page',
		get_function:'djity.simplepage.get_simple_page',
		lang:dj.context.simple_page_lang
	});

{% endblock %}
{% block body %}
<div id="simple_page_content" >
	{{page_content|safe}}
</div>
{% endblock %}
